[Unit]
Description=Party Games by TDNG Main Web API

[Service]
WorkingDirectory=/webservices/partygamesbytdng
ExecStart=/usr/share/dotnet/dotnet /webservices/partygamesbytdng/PartyGamesByTDNG.API.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-partygamesbytdng-main
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target